<div class="container">
  <div class="row">
    <app-registration></app-registration>
      <div class="col-md-10">
          <!-- Add appropriate sub-headings as shown in instructions in h5 & p tags respectively -->
          <!-- use <span style=color:red>*</span> to display red star for mandatory field -->
          <h1>Business Registration Component</h1>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Add/Update
          </button>

      </div>

  </div>

  <div class='row'>
      <table class="table table-light">

          <!-- Create a table with appropriate columns as per instructions document and display values of businessDetails object  -->
          <thead>
            <tr>
              <th>Vehicle Type</th>
              <th>Good Type</th>
              <th>Business Website Name</th>
              <th>Insurance Company</th>
              <th>Policy Number</th>
              <th>License Validity</th>
            </tr>
          </thead>
          <tbody *ngIf="businessDetails">
            <tr>
              <td>{{ businessDetails.vehicleType }}</td>
              <td>{{ businessDetails.goodsType }}</td>
              <td>{{ businessDetails.businessWebsite }}</td>
              <td>{{ businessDetails.insuranceCompany }}</td>
              <td>{{ businessDetails.policyNumber }}</td>
              <td>{{ businessDetails.licenseValidity }}</td>
            </tr>
          </tbody>
      </table>
  </div>

  <div class='row'>
      <div class="col-md-6">
          <!-- Proceed button should be enabled only if businessDetails is defined and call proceedtoPayment() method on click of it. -->
          <!-- Make sure proceed button is input element with type 'submit' -->
          <input type='submit' [disabled]="!businessDetails" class="btn btn-primary" value="Proceed" (click)="proceedtoPayment()">

      </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">


      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Application for Commercial Vehicle Registration (CVOR)
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">


              <div class="container">
                  <!-- Add appropriate sub-heading as shown in instructions in h5 tag -->
                <h2>Business Information</h2>
                  <form [formGroup] = "registerForm">

                      <!-- Add labels and necessary form controls by attaching appropriate validation messages  -->
                      <!-- Validation Messages should be displayed appropriately and appear only if user touched the field for eg: registerForm.controls.paymentType.errors.required  && registerForm.get('paymentType').touched -->

                   <div class="row">
                     <div class="col">
                        <div class="form-group required">
                      <label for="vehicleType" class="control-label">Type of Vehicle</label>
                      <select name='vehicleType' type='text' class="form-select" formControlName='vehicleType' required>
                        <option value="Bus">Bus</option>
                        <option value="Truck">Truck</option>
                        <option value="TowTruck">Tow Truck</option>
                      </select>
                      <p *ngIf="registerForm.controls.vehicleType.errors
                      && (registerForm.controls.vehicleType.dirty || registerForm.controls.vehicleType.touched)"
                      class="alert alert-danger">This field is required!</p>
                    </div>
                    <div class="form-group required">
                      <label for="businessWebsite" class="control-label">Business Wbsite Address</label>
                      <input type='text' class='form-control' formControlName='businessWebsite' required>
                      <div *ngIf="registerForm.controls.businessWebsite.invalid
                      && (registerForm.controls.businessWebsite.dirty || registerForm.controls.businessWebsite.touched)"
                      >
                      <p *ngIf="registerForm.controls.businessWebsite.errors?.required"
                      class="alert alert-danger">This field is required!</p>
                      <p *ngIf="registerForm.controls.businessWebsite.errors?.pattern"
                      class="alert alert-danger">Pattern warning!</p>
                    </div>
                    </div>
                    <div class="form-group required">
                      <label for="policyNumber" class="control-label">Policy Number</label>
                      <input type='text' class='form-control' formControlName='policyNumber' required>
                      <div *ngIf="registerForm.controls.policyNumber.invalid
                      && (registerForm.controls.policyNumber.dirty || registerForm.controls.policyNumber.touched)"
                      >
                      <p *ngIf="registerForm.controls.policyNumber.errors?.required"
                      class="alert alert-danger">This field is required!</p>
                      <p *ngIf="registerForm.controls.policyNumber.errors?.pattern"
                      class="alert alert-danger">Between 8 and 10 digits!</p>
                    </div>
                    </div>
                     </div>
                     <div class="col">
<div class="form-group required">
                      <label for="goodsType" class="control-label">Dangerous Goods?</label>
                      <select name='goodsType' id='goodsType' class="form-select" formControlName='goodsType' required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                      <p *ngIf="registerForm.controls.goodsType.errors
                      && (registerForm.controls.goodsType.dirty || registerForm.controls.goodsType.touched)"
                      class="alert alert-danger">This field is required!</p>
                    </div>
                    <div class="form-group required">
                      <label for="insuranceCompany" class="control-label">Insurance Company</label>
                      <input type='text' class='form-control' formControlName='insuranceCompany' required>
                      <p *ngIf="registerForm.controls.insuranceCompany.errors
                      && (registerForm.controls.insuranceCompany.dirty || registerForm.controls.insuranceCompany.touched)"
                      class="alert alert-danger">This field is required!</p>
                    </div>
                    <div class="form-group required">
                      <label for="licenseValidity" class="control-label">License Validity</label>
                      <select name="licenseValidity" type='text' class="form-select" formControlName='licenseValidity' required>
                        <option value='5'>5 Years</option>
                        <option value='10'>10 Years</option>
                      </select>
                      <p *ngIf="registerForm.controls.licenseValidity.errors
                      && (registerForm.controls.licenseValidity.dirty || registerForm.controls.licenseValidity.touched)"
                      class="alert alert-danger">This field is required!</p>
                    </div>
                     </div>
                   </div>


                  </form>
                  <br />

              </div>
              <div style="text-align: right; ">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
              <button type="submit" class="btn btn-primary" (click)="submitBusinessDetails()" data-bs-dismiss="modal">Submit</button>
              </div>



          </div>




      </div>
  </div>
</div>
