<div class="container">
  <div class="row">
      <div class="col-md-10">
          <!-- Add appropriate sub-headings as shown in instructions in h5 & p tags respectively -->
          <!-- use <span style=color:red>*</span> to display red star for mandatory field -->
          <h1>Business Registration Component</h1>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Add/Update
          </button>

      </div>

  </div>

  <div class='row'>
      <table class="table table-light">

          <!-- Create a table with appropriate columns as per instructions document and display values of businessDetails object  -->

      </table>
  </div>

  <div class='row'>
      <div class="col-md-6">
          <!-- Proceed button should be enabled only if businessDetails is defined and call proceedtoPayment() method on click of it. -->
          <!-- Make sure proceed button is input element with type 'submit' -->
      </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">


      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Application for Commercial Vehicle Registration (CVOR)
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">


              <div class="container">
                  <!-- Add appropriate sub-heading as shown in instructions in h5 tag -->

                  <form>

                      <!-- Add labels and necessary form controls by attaching appropriate validation messages  -->
                      <!-- Validation Messages should be displayed appropriately and appear only if user touched the field for eg: registerForm.controls.paymentType.errors.required  && registerForm.get('paymentType').touched -->

                  </form>
                  <br />

              </div>




          </div>

      </div>
  </div>
</div>
