
<div class="container">
  <!-- Add appropriate sub-headings as shown in instructions in h5 & p tags respectively -->
  <h1>Payment Details Component</h1>
  <form >

    <!-- Add labels and necessary form controls by attaching appropriate validation messages  -->
    <!-- Validation Messages should be displayed appropriately and appear only if user touched the field for eg: registerForm.controls.paymentType.errors  && registerForm.get('paymentType').touched -->


  </form>
  <br />
<!-- Uncomment the Below Code for Modal Pop-up & calling submitDetails() method -->

  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Submit Application</h5>

        </div>
        <div class="modal-body">
          Submit Application for Processing ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Review</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="submitDetails()">Submit</button>
        </div>
      </div>
    </div>
  </div> -->



</div>
