<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <span class="navbar-brand" href="#">
      <img src="assets/icon.jpg" alt=""  height="40">
      {{title}}
    </span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>


        <!-- Add  routerLink to paths created -->
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/register']">New Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fetch']">Fetch Details</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<h1>
  Main page
</h1>
<div>
  <!-- Templates of components loaded using routing should appear here ! -->

  <router-outlet ></router-outlet>

  <!-- <router-outlet name='user'></router-outlet> -->
</div>

