/* You can add global styles to this file, and also import other style files */

.image{
  background-image: url('./assets/background.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
