<br>

<div class="container">

  <div class="col-md-6">
    <!-- Sub-Heading as mentioned in instructions should appear here -->
    <h1>Home Component</h1>
    <h1>Commercial Vehicle Operator's Registration (CVOR) Application</h1>
  </div>
</div>


<br>
<br>

<div class="container overflow-hidden">
  <div class="row gx-6">
    <div class="col">
      <div class="p-3 ">

        <div class="card border-secondary text-dark bg-light mb-3" style="width: 25rem; ">
          <div class="card-body">

            <!-- Create an appropriate header and button elements to proceed to path 'register' on clicking button -->
            <!-- Hint: You may add routerLink to button element directly -->
            <h2>New Clients - Apply Online for CVOR</h2>
            <button class="btn btn-success" routerLink="/register">Proceed</button>

          </div>
        </div>




      </div>
    </div>
    <div class="col">
      <div class="p-3 ">
        <div class="card  border-secondary text-dark bg-light mb-3" style="width: 25rem;">
          <div class="card-body">

            <!-- Create an appropriate header and button to proceed to path 'fetch' on clicking button -->
            <h2>Returning Clients - Access my business</h2>
            <button class="btn btn-success" routerLink="/fetch">Proceed</button>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
